.lessons/6 SOAP - XML/code4/telebe.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="telebe">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ad" type="xs:string"/>
        <xs:element name="yas" type="xs:integer"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>